html {
    font-size: 1vw;
}

body {
    font-family: input-mono, monospace;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1.4rem 1rem 1.4rem
}

#canvasID {
    position: relative;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.9rem;
    width: 16rem;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    top: 0;
    height: calc(100vh - 2rem);
    width: 18rem;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    /* margin-bottom: 2rem; */
}

.numbers {
    text-align: right;
}



.legend,
.footer {
    padding-top: 2rem;
    padding-bottom: 1rem;

}

.source {
    color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a,
a:hover,
a:visited {
    color: black;
}

p {
    padding-bottom: 0;
    margin: 0;
}

.footer {
    padding-bottom: 1.2rem;
}

.about {
    padding-bottom: 1.3rem;
    font-size: 0.8rem;
    width: 20rem;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line img {
    padding-right: 0.5rem;
}

.canvas-mobile {
    display: none;
}

@media screen and (max-width: 800px) {

    .canvas {
    display: none;
}

    html {
        font-size: 2vw;
    }

    .sidebar {
        position: relative;
        font-size: 0.8rem;
        height: fit-content;
    }

    .footer {
        display: none;
    }

    .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 1.4rem 1rem 1.4rem;
    flex-direction: column;
}

    .canvas {
        width: 100vw;
    }


    .line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .line img {
        padding-right: 0.5rem;
    }
}